@model IEnumerable<mvc1.Models.member>
@using mvc1.Models

@{
    ViewBag.Title = "Member:GetMembers";
}

@section style{
    <link rel="stylesheet" type="text/css" href="~/Styles/Member/MemberCommon.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/Member/MemberGetMembers.css" />
}

<h3>Member List</h3>

<p>@Html.ActionLink("Create Member", "CreateMember")</p>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Registration Date</th>
        <th>Actions</th>
    </tr>
    
    @foreach (member m in Model)
    {
        <tr>
            <td>@m.id</td>
            <td>@m.name</td>
            <td>@m.username</td>
            <td>@m.password</td>
            <td>@m.registerDate</td>
            <td>
                <span>@Html.ActionLink("Update", "UpdateMember", new { id = m.id })</span>
                <span>@Html.ActionLink("Delete", "DeleteMember", new { id = m.id })</span>
            </td>
        </tr>
    }
</table>


